<article class="blog-block container">
   <h2 class="blog-block__title">Our Blog Posts</h2>
   <p class="blog-block__text-body3 text-body3">We are an online plant shop offering a wide range of cheap and trendy
      plants. </p>
   <div class="blog-block__inner">
      <section class="blog-block__item">
         <figure class="blog-block__figure">
            <img src="./images/blogBlock/1.jpg" width="150" height="212" alt="Скульптура">
            <figcaption class="text-brand-color">September 12 I Read in 6 minutes</figcaption>
         </figure>
         <div class="blog-block__content">
            <h3 class="blog-block__caption caption">Cactus & Succulent Care Tips</h3>
            <p class="blog-block__text-body2 text-body2">Cacti are succulents are easy care plants for any home or
               patio.
            </p>
            <a href="#" class="read-more-link">Read More</a>
         </div>
      </section>
      <section class="blog-block__item">
         <figure class="blog-block__figure">
            <p><img src="./images/blogBlock/2.jpg" width="150" height="212" alt="Скульптура"></p>
            <figcaption class="text-brand-color">September 13 I Read in 2 minutes</figcaption>
         </figure>
         <div class="blog-block__content">
            <h3 class="blog-block__caption caption">Top 10 Succulents for Your Home</h3>
            <p class="blog-block__text-body2 text-body2">Best in hanging baskets. Prefers medium to high light.</p>
            <a href="#" class="read-more-link">Read More</a>
         </div>
      </section>
      <section class="blog-block__item">
         <figure class="blog-block__figure">
            <p><img src="./images/blogBlock/3.jpg" width="150" height="212" alt="Скульптура"></p>
            <figcaption class="text-brand-color">September 15 I Read in 3 minutes</figcaption>
         </figure>
         <div class="blog-block__content">
            <h3 class="blog-block__caption caption">Cacti & Succulent Care Tips</h3>
            <p class="blog-block__text-body2 text-body2">Cacti and succulents thrive in containers and because most
               are..</p>
            <a href="#" class="read-more-link">Read More</a>
         </div>
      </section>
      <section class="blog-block__item">
         <figure class="blog-block__figure">
            <p><img src="./images/blogBlock/4.jpg" width="150" height="212" alt="Скульптура"></p>
            <figcaption class="text-brand-color">September 15 I Read in 2 minutes</figcaption>
         </figure>
         <div class="blog-block__content">
            <h3 class="blog-block__caption caption">Best Houseplants Room by Room</h3>
            <p class="blog-block__text-body2 text-body2">The benefits of houseplants are endless. In addition to..</p>
            <a href="#" class="read-more-link">Read More</a>
         </div>
      </section>
   </div>
</article>