<article class="first-screen container">
   <div class="first-screen__content">
      <h1 class="visually-hidden">GreenShop</h1>
      <h3 class="text-uppercase">Welcome to GreenShop</h3>
      <h2 class="title">Let’s Make a Better <span class="text-brand-color">Planet</span></h2>
      <p class="text-body1">We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants
         to create an unique Urban Jungle. Order your favorite plants!</p>
      <a class="link-button" href="shop.html">SHOP NOW</a>
   </div>
   @@include('../ui/sliderFirstScreen.html', {})
   <div class="slider-first__pagination swiper-pagination"></div>
</article>