<footer class="footer container">
  <div class="footer__top top-footer">
    <img src="./images/icons/logo_name.svg" alt="logo company GreenShop">
    <p class="top-footer__address text-body2">70 West Buckingham Ave. Farmingdale, NY 11735</p>
    <a class="top-footer__mail text-body2" href="mailto:contact@greenshop.com">contact@greenshop.com</a>
    <a class="top-footer__phone text-body2" href="tel:+8801911717490">+88 01911 717 490</a>
  </div>
  <div class="footer__bottom bottom-footer">
    <div class="bottom-footer__account">
      <h3 class="subtitle">My Account</h3>
      <ul class="bottom-footer__list">
        <li><a href="#" class="bottom-footer__item-link">My Account</a></li>
        <li><a href="#" class="bottom-footer__item-link">Our stores</a></li>
        <li><a href="#" class="bottom-footer__item-link">Contact us</a></li>
        <li><a href="#" class="bottom-footer__item-link">Career</a></li>
        <li><a href="#" class="bottom-footer__item-link">Specials</a></li>
      </ul>
    </div>
    <div class="bottom-footer__helper">
      <h3 class="subtitle">Help & Guide</h3>
      <ul class="bottom-footer__list">
        <li><a href="#" class="bottom-footer__item-link">Help Center</a></li>
        <li><a href="#" class="bottom-footer__item-link">How to Buy</a></li>
        <li><a href="#" class="bottom-footer__item-link">Shipping & Delivery</a></li>
        <li><a href="#" class="bottom-footer__item-link">Product Policy</a></li>
        <li><a href="#" class="bottom-footer__item-link">How to Return</a></li>
      </ul>
    </div>
    <div class="bottom-footer__categories">
      <h3 class="subtitle">Categories</h3>
      <ul class="bottom-footer__list">
        <li><a href="#" class="bottom-footer__item-link">House Plants</a></li>
        <li><a href="#" class="bottom-footer__item-link">Potter Plants</a></li>
        <li><a href="#" class="bottom-footer__item-link">Seeds</a></li>
        <li><a href="#" class="bottom-footer__item-link">Small Plants</a></li>
        <li><a href="#" class="bottom-footer__item-link"> Accessories</a></li>
      </ul>
    </div>
    <div class="bottom-footer__social social">
      <h3 class="subtitle">Social Media</h3>
      <ul class="social__list">
        <li><a href="#" class="social__item facebook-link"><span class="visually-hidden">to facebook</span></a>
        </li>
        <li><a href="#" class="social__item instagram-link"><span class="visually-hidden">to instagram</span></a>
        </li>
        <li><a href="#" class="social__item twitter-link"><span class="visually-hidden">to twitter</span></a></li>
        <li><a href="#" class="social__item linkedin-link"><span class="visually-hidden">to linkedin</span></a>
        </li>
        <li><a href="#" class="social__item union-link"><span class="visually-hidden">to union</span></a></li>
      </ul>
      <h3 class="social__subtitle  subtitle">We accept</h3>
      <img src="./images/icons/payment_systems.jpg" alt="We accept Pay Pal, MasterCard, Visa Fmerican Express">
    </div>
  </div>
  <p class="footer__copyright footer-text">© 2021 GreenShop. All Rights Reserved.</p>
</footer>