<div class="container">
   <div class="info-block">
      <div class="info-block__content-inner">
         <section class="info-block__item">
            <img src="./images/infoBlock/1_bg.svg" alt="">
            <h3 class="info-block__title">Garden Care</h3>
            <p class="text-body2">We are an online plant shop offering a wide range of cheap and trendy plants.</p>
         </section>
         <section class="info-block__item">
            <img src="./images/infoBlock/2_bg.svg" alt="">
            <h3 class="info-block__title">Plant Renovation</h3>
            <p class="text-body2">We are an online plant shop offering a wide range of cheap and trendy plants.</p>
         </section>
         <section class="info-block__item">
            <img src="./images/infoBlock/3_bg.svg" alt="">
            <h3 class="info-block__title">Watering Garden</h3>
            <p class="text-body2">We are an online plant shop offering a wide range of cheap and trendy plants.</p>
         </section>
      </div>
      <section class="form-info">
         <h3 class="subtitle">Would you like to join newsletters?</h3>
         <form class="form-info__mail-form" action="" method="post" name="">
            <input class="primary-input" type="text" placeholder="enter your email address...">
            <button class="form-btn">Join</button>
         </form>
         <p class="text-body4">We usually post offers and challenges in newsletter. We’re your online houseplant
            destination. We offer a wide
            range of houseplants and accessories shipped directly from our (green)house to yours! </p>
      </section>
   </div>

</div>