<div class="preview container">
   <article class="preview__item">
      <div class="preview__image">
         <img src="./images/preview/1.jpg" alt="Plant">
      </div>
      <div class="preview__content">
         <h2 class="preview__title">Summer cactus & succulents</h2>
         <p class="preview__text">We are an online plant shop offering a wide range of cheap and trendy plants</p>
         <a class="preview__link-button link-button" href="#">Find More</a>
      </div>
      <div class="preview__bg"></div>
   </article>
   <article class="preview__item">
      <div class="preview__image">
         <img src="./images/preview/2.jpg" alt="Plant">
      </div>
      <div class="preview__content">
         <h2 class="preview__title">Styling Trends & much more</h2>
         <p class="preview__text">We are an online plant shop offering a wide range of cheap and trendy plants</p>
         <a class="preview__link-button link-button" href="#">Find More</a>
      </div>
      <div class="preview__bg">
      </div>
   </article>
</div>