<section class="product-block__inner">
   <div class="product-block__top">
      @@include('../ui/sortForm.html', {})
   </div>
   <div class="product-block__list">
      @@include('../ui/itemProduct.html', {
      "product-name": "Barberton Daisy",
      "price": "$119.00",
      "img": "./images/product/1.jpg",
      "old-price": ""
      })
      @@include('../ui/itemProduct.html', {
      "product-name": "Angel Wing Begonia ",
      "price": "$169.00",
      "img": "./images/product/2.jpg",
      "old-price": ""
      })
      @@include('../ui/itemProduct.html', {
      "product-name": "African Violet",
      "price": "$199.00",
      "img": "./images/product/3.jpg",
      "old-price": "$229.00"
      })
      @@include('../ui/itemProduct.html', {
      "product-name": "Beach Spider Lily",
      "price": "$129.00",
      "img": "./images/product/4.jpg",
      "old-price": ""
      })
      @@include('../ui/itemProduct.html', {
      "product-name": "Blushing Bromeliad",
      "price": "$139.00",
      "img": "./images/product/5.jpg",
      "old-price": ""
      })
      @@include('../ui/itemProduct.html', {
      "product-name": "Aluminum Plant",
      "price": "$179.00",
      "img": "./images/product/6.jpg",
      "old-price": ""
      })
      @@include('../ui/itemProduct.html', {
      "product-name": "Bird's Nest Fern",
      "price": "$99.00",
      "img": "./images/product/7.jpg",
      "old-price": ""
      })
      @@include('../ui/itemProduct.html', {
      "product-name": "Broadleaf Lady Palm",
      "price": "$59.00",
      "img": "./images/product/8.jpg",
      "old-price": ""
      })
      @@include('../ui/itemProduct.html', {
      "product-name": "Chinese Evergreen",
      "price": "$39.00",
      "img": "./images/product/9.jpg",
      "old-price": ""
      })

   </div>
   <div class="product-block__pagination">
      <a class="pagination-link active" href="#">1</a>
      <a class="pagination-link" href="#">2</a>
      <a class="pagination-link" href="#">3</a>
      <a class="pagination-link" href="#">4</a>
      <a class="pagination-link" href="#">></a>
   </div>
</section>