.header-navigation__link {
   position: relative;
   display: block;
   padding-bottom: 10px;
   font-size: 16px;
   line-height: 20px;
   color: $primaryColor;
   transition: $standartTrans;

   &::after {
      position: absolute;
      height: 0;
      width: 100%;
      bottom: 0;
      left: 0;
      content: '';
      background: $brandColor;
      transition: bottom 280ms ease-in-out 0ms;
   }

   &.active,
   &:focus {
      text-shadow: $primaryTextShadow;

      &::after {
         height: 3px;
         width: 100%;
         bottom: -17px;
      }
   }

   &:hover {
      color: $brandColor;

      &::after {
         height: 1px;
         width: 100%;
         bottom: -15px;
      }
   }
}

.cart-link {
   position: relative;
   width: 30px;
   height: 25px;
   border-radius: 5px;

   &__quantity {
      position: absolute;
      top: -3px;
      right: -4px;
      padding: 2px 6px;
      border: 2px solid $whiteColor;
      border-radius: 50%;
      font-weight: 500;
      font-size: 10px;
      line-height: 13px;
      color: $whiteColor;
      background: $brandColor;
   }

   &:focus,
   &:hover {
      box-shadow: $darkBtnBoxShadow;
   }
}

.preview__link-button {
   font-weight: 500;
   font-size: 14px;
   text-transform: none;

   &::after {
      position: absolute;
      right: 26px;
      top: 12px;
      content: '';
      width: 18px;
      height: 18px;
      background: url(../images/icons/arrow_right.svg) center/cover;
   }
}

.link-button,
.preview__link-button {
   position: relative;
   @include flex-row;
   align-items: center;
   justify-content: center;
   width: 140px;
   height: 40px;
   border: 1px solid $brandColor;
   border-radius: $mainRadius;
   font-family: $fontFamily;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;
   color: $whiteColor;
   background: $brandColor;

   &:focus,
   &:active {
      border: 1px solid $primaryColor60;
      box-shadow: $focusBtnBoxShadow;
   }

   &:hover {
      border: 1px solid $whiteColor;
      box-shadow: $hoverBtnBoxShadow;
   }
}

.preview__link-button {
   padding-right: 21px;
   font-weight: 500;
   font-size: 14px;
   text-transform: none;

   &::after {
      position: absolute;
      right: 26px;
      top: 12px;
      content: '';
      width: 18px;
      height: 18px;
      background: url(../images/icons/arrow_right.svg) center/cover;
   }
}

.pagination-link {
   @include flex-row;
   align-items: center;
   justify-content: center;
   width: 35px;
   height: 35px;
   border: 1px solid $borderColor;
   border-radius: 4px;
   text-align: center;
   font-family: $fontFamily;
   font-weight: 300;
   font-size: 18px;
   line-height: 16px;
   color: $primaryColor;

   &.active {
      background: $brandColor;
      color: $whiteColor;
      border-color: $brandColor;
   }
}

.read-more-link {
   position: relative;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: $primaryColor;
   transition: $standartTrans;

   &::after {
      position: absolute;
      top: 3px;
      right: -20px;
      content: '';
      width: 16px;
      height: 16px;
      background-color: $primaryColor;
      -webkit-mask-image: url(../images/icons/read_more_icon.svg);
      mask-image: url(../images/icons/read_more_icon.svg);
   }

   &:focus,
   &:active {
      color: $brandColor;
      text-shadow: $greenTextShadow;
      border-bottom: 1px solid $brandColor;

      &::after {
         background-color: $brandColor;
      }
   }

   &:hover {
      color: $darkBlueColor;
      border-bottom: 1px solid $darkBlueColor;

      &::after {
         background-color: $darkBlueColor;
      }

   }
}

.bottom-footer__item-link {
   position: relative;
   font-size: 14px;
   line-height: 30px;

   &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      bottom: -30px;
      background: $brandColor;
      transition: $standartTrans;
   }

   &:focus {
      padding: 5px;
      border-radius: 5px;
      text-shadow: $greenTextShadow;
      box-shadow: $smallLinkBoxShadow;
   }

   &:hover,
   &:active {
      color: $brandColor;
      text-shadow: $greenTextShadow;

      &::before {
         width: 100%;
         left: 0;
         bottom: 0;
      }
   }
}

// .link-bread-crumbs {
//    box-sizing: border-box;
//    display: none;
//    position: relative;
//    font-family: $fontFamily;
//    font-weight: 400;
//    font-size: 18px;
//    line-height: 21px;
//    // color: ;
//    transition: $standartTrans;


//    &:first-child {
//       position: relative;
//       display: inline-block;
//       color: transparent;

//       &::before {
//          position: absolute;
//          content: '';
//          width: 24px;
//          height: 24px;
//          border-radius: 100%;
//          // background: url(../images/icons/svg_round_gray_prev.svg);
//       }
//    }

//    @include media(600) {
//       display: inline-block;

//       &:first-child {
//          color: $brandColor;

//          &::before {
//             display: none;
//          }
//       }

//       &+& {
//          margin-left: 12px;

//          &::after {
//             position: absolute;
//             content: '';
//             width: 6px;
//             height: 6px;
//             top: 7px;
//             left: -11px;
//             // background: $bgColorSummary;
//             border-radius: 100%;
//          }
//       }
//    }

//    &:hover {
//       border-radius: 2px;
//       background: transparent;
//       // color: $fontTitleColor;
//       // outline: 1px solid $borderColorSummary;
//       box-shadow: 0px 5px 12px 0px rgb(155 155 155);
//    }
// }