// media
@mixin media($width) {
  @media (min-width: #{$width + '.98' + px}) {
    @content;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}