$minWidth: 320px; // минимальная ширина телефона
$maxWidthContainer: 1220px; // ширина контейнера с учетом padding слева и справа

$whiteColor: #fff;
$whiteColor50: rgba(255, 255, 255, .5);
$primaryColor: rgba(61, 61, 61, 1);
$primaryColor60: rgba(61, 61, 61, .6);
$primaryColor20: rgba(61, 61, 61, .02);
$secondaryColor: rgba(114, 114, 114, 1);
$brandColor: rgba(70, 163, 88, 1);
$brandColor50: rgba(70, 163, 88, 0.5);
$brandColor30: rgba(70, 163, 88, 0.3);
$brandColor10: rgba(70, 163, 88, 0.1);

$grayColor: rgb(111, 111, 111);
$lightBlueColor: rgb(64, 134, 244);
$darkBlueColor: rgb(59, 89, 153);
$grayTextInputColor: rgba(165, 165, 165, 1);
$placeholderColor: rgba(172, 172, 172, 1);

$grayBgColor: rgba(251, 251, 251, 1);

$borderColor: rgba(234, 234, 234, 1);

$fontFamily: 'CeraPro', sans-serif; // Семейство шрифта по умолчанию
$fontColor: $primaryColor; // Цвет шрифта по умолчанию
$fontSize: 14px; // Размер шрифта по умолчанию
$fontWeight: 400; // Жирность шрифта по умолчанию

$mainRadius: 6px;

$greenBorderBottom: 0.3px solid $brandColor30;
$buttonLinerGradient: linear-gradient(180deg, rgba(70, 163, 88, 0.4) -16.92%, #46A358 109.23%);
$bgLinerGradient: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);

$standartTrans: all 280ms ease-in-out 0ms;
$longTrans: all 700ms ease-in-out 0ms;

$greenBtnBoxShadow: 0 10px 20px $brandColor30;
$hoverBtnBoxShadow: 0 4px 10px 2px rgb(70 163 88 / 68%);
$focusBtnBoxShadow: 0 4px 10px 2px rgba(13 24 15 / 58%);
$lightBtnBoxShadow: 0 0 20px rgba(0, 0, 0, 0.06);
$darkBtnBoxShadow: 0 10px 20px rgb(211, 211, 211);
$smallLinkBoxShadow: 0 4px 10px 2px rgb(187 187 187 / 68%);
$greenTextShadow: 1px 0 0 rgb(70 163 88);
$primaryTextShadow: 1px 0 0 rgb(61 61 61);

$transormPopupStart: perspective(600px) translate(0px, -100%) rotateX(45deg);
$transormPopupAnd: perspective(600px) translate(0px, 15%) rotateX(0deg);